* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    padding: 30px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    margin: 20px;
}

.field {
    margin-bottom: 18px;
    position: relative;
}

input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

.main-box {
    max-width: 100%;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: none;
}

.main-box p {
    max-width: 100%;
    padding: 8px;
    color: #474747;
    margin: 5px;
    border-radius: 10px;
    transition: 0.3s ease-out;

    &:hover {
        background-color: #EEEEEE;
        transition: 0.3s ease-in;
        cursor: pointer;
    }
}

input.error {
    border-color: red;
    color: red;
}

input.success {
    border-color: black;
    color: black;
}

.field i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: green;
    display: none;
}

p.error-text {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    cursor: not-allowed;
    opacity: .6;
    transition: 0.3s ease-in;

    &:hover {
        background-color: #02049c;
        transition: 0.3s ease-in;
    }
}