/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .main-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .result-bar {
        width: 650px;
        height: auto;
        border-radius: 20px;
        border: 1px solid #808080;
        background-color: #FFFFFF;
        margin: 30px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .res-top-color {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }

    .res-top-color p {
        text-align: center;
        color: #FFFFFF;
        margin: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .result-container {
        width: 80%;
        min-height: 20px;
        margin-top: 80px;
        border: 1px solid #808080;
        background-color: #EEEEEE;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prop-bar {
        width: 650px;
        height: 500px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid #808080;
        background-color: #FFFFFF;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .res-prop-color {
        width: 100%;
        bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }

    .res-prop-color p {
        text-align: center;
        color: #FFFFFF;
        margin: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .prop-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 5px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    i {
        margin-inline: 8px;
    }

    .p-con-bar {
        width: 250px;
        height: 200px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: #FFFFFF;
        margin: 20px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .p-con-color {
        width: 100%;
        bottom: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    }

    .p-con-color p {
        text-align: left;
        color: #FFFFFF;
        margin: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .p-con-bar .content-container {
        width: 100%;
        /* background-color: #EEEEEE; */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }

    .content-container span {
        display: inline-block;
        margin: 5px;
        text-align: center;
        font-size: 14px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #cdcdcd;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .content-container span:hover {
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        color: #FFFFFF;
        border: 1px solid #808080;
        transition: 0.3s ease-in;
    }

    .blue {
        background-color: blue;
        color: #ffffff;
    }

    .green {
        background-color: green;
        color: #ffffff;
    }

    .red {
        background-color: red;
        color: #ffffff;
    }

    .white {
        background-color: white;
        color: #000;
    }

    .black {
        background-color: black;
        color: #ffffff;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .main-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .result-bar {
        width: 500px;
        height: auto;
        border-radius: 20px;
        border: 1px solid #808080;
        background-color: #FFFFFF;
        margin: 30px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .res-top-color {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }

    .res-top-color p {
        text-align: center;
        color: #FFFFFF;
        margin: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .result-container {
        width: 80%;
        min-height: 20px;
        margin-top: 80px;
        border: 1px solid #808080;
        background-color: #EEEEEE;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prop-bar {
        width: 500px;
        height: 500px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid #808080;
        background-color: #FFFFFF;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .res-prop-color {
        width: 100%;
        bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }

    .res-prop-color p {
        text-align: center;
        color: #FFFFFF;
        margin: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .prop-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 5px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    i {
        margin-inline: 8px;
    }

    .p-con-bar {
        width: 200px;
        height: 250px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: #FFFFFF;
        margin: 10px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .p-con-color {
        width: 100%;
        bottom: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    }

    .p-con-color p {
        text-align: left;
        color: #FFFFFF;
        margin: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .p-con-bar .content-container {
        width: 100%;
        /* background-color: #EEEEEE; */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }

    .content-container span {
        display: inline-block;
        margin: 5px;
        text-align: center;
        font-size: 14px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #cdcdcd;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .content-container span:hover {
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        color: #FFFFFF;
        border: 1px solid #808080;
        transition: 0.3s ease-in;
    }

    .blue {
        background-color: blue;
        color: #ffffff;
    }

    .green {
        background-color: green;
        color: #ffffff;
    }

    .red {
        background-color: red;
        color: #ffffff;
    }

    .white {
        background-color: white;
        color: #000;
    }

    .black {
        background-color: black;
        color: #ffffff;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .main-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .result-bar {
        width: 350px;
        height: auto;
        border-radius: 20px;
        border: 1px solid #808080;
        background-color: #FFFFFF;
        margin: 30px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .res-top-color {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }

    .res-top-color p {
        text-align: center;
        color: #FFFFFF;
        margin: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .result-container {
        width: 80%;
        min-height: 20px;
        margin-top: 80px;
        border: 1px solid #808080;
        background-color: #EEEEEE;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prop-bar {
        width: 350px;
        height: 500px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid #808080;
        background-color: #FFFFFF;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .res-prop-color {
        width: 100%;
        bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }

    .res-prop-color p {
        text-align: center;
        color: #FFFFFF;
        margin: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .prop-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 5px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    i {
        margin-inline: 8px;
    }

    .p-con-bar {
        width: 300px;
        height: 250px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: #FFFFFF;
        margin: 20px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .p-con-color {
        width: 100%;
        bottom: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    }

    .p-con-color p {
        text-align: left;
        color: #FFFFFF;
        margin: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .p-con-bar .content-container {
        width: 100%;
        /* background-color: #EEEEEE; */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }

    .content-container span {
        display: inline-block;
        margin: 5px;
        text-align: center;
        font-size: 14px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #cdcdcd;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .content-container span:hover {
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        color: #FFFFFF;
        border: 1px solid #808080;
        transition: 0.3s ease-in;
    }

    .blue {
        background-color: blue;
        color: #ffffff;
    }

    .green {
        background-color: green;
        color: #ffffff;
    }

    .red {
        background-color: red;
        color: #ffffff;
    }

    .white {
        background-color: white;
        color: #000;
    }

    .black {
        background-color: black;
        color: #ffffff;
    }
}