/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Task */

    .two-contain {
        width: 90%;
        height: auto;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #vid {
        width: 90%;
        height: 350px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid gray;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .buttons button {
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: blanchedalmond;
        }
    }

    #my-vid {
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Task */

    .two-contain {
        width: 95%;
        height: auto;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #vid {
        width: 90%;
        height: 300px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid gray;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .buttons button {
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: blanchedalmond;
        }
    }

    #my-vid {
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Task */

    .two-contain {
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #vid {
        width: 95%;
        height: 200px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid gray;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .buttons button {
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
        cursor: pointer;
        transition: 0.3s ease-out;

        &:hover {
            transition: 0.3s ease-in;
            background-color: blanchedalmond;
        }
    }

    #my-vid {
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
    }
}