/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Task 1 */

    .one-contain {
        width: 90%;
        height: 500px;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .item {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item h3 {
        margin: 10px;
    }

    .item input {
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
    }

    .item p {
        font-size: 16px;
        margin: 10px;
    }

    /* Task 2 */

    .two-contain {
        width: 90%;
        height: 500px;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #img-pre {
        width: 500px;
        height: 300px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid gray;
    }

    #my-img {
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Task 1 */

    .one-contain {
        width: 95%;
        height: 500px;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .item {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item h3 {
        margin: 10px;
    }

    .item input {
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
    }

    .item p {
        font-size: 16px;
        margin: 10px;
    }

    /* Task 2 */

    .two-contain {
        width: 95%;
        height: 500px;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #img-pre {
        width: 90%;
        height: 300px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid gray;
    }

    #my-img {
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid gray;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Task 1 */

    .one-contain {
        width: 100%;
        height: 500px;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 0px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item h3 {
        margin: 10px;
    }

    .item input {
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid gray;
    }

    .item p {
        font-size: 16px;
        margin: 10px;
    }

    /* Task 2 */

    .two-contain {
        width: 100%;
        height: 500px;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #img-pre {
        width: 95%;
        height: 300px;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid gray;
    }

    #my-img {
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 95%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid gray;
    }

}