* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    margin: 0 auto;
    font-family: sans-serif;
}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Task 1 */

.one-contain {
    width: 80%;
    height: 500px;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item h3 {
    margin: 10px;
}

.item input {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
}

.item p {
    font-size: 16px;
    margin: 10px;
}

/* Task 2 */

.two-contain {
    width: 80%;
    height: 500px;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#img-pre {
    width: 600px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid gray;
}

#my-img {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
}