* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 5%;
}

.container {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background: #333;
}

.results {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.7;
}

.results p {
  margin: 5px 0;
}