/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* Task 1 */

    .one-contain {
        margin: 20px;
        overflow: hidden;
        width: 90%;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .one-contain img {
        width: 90%;
        height: 300px;
        margin: 30px;
    }

    .item-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
        width: 80%;
    }

    .item {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .item p {
        width: 250px;
        height: 80px;
        background-color: crimson;
        color: #FFFFFF;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: rgb(174, 10, 43);
        }
    }

    .input-parent {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 20px;
        width: 250px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .input-parent input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 8px;
    }

    .input-parent span {
        margin-inline: 10px;
        font-weight: bold;
    }

    /* Task 2 */
    .two-contain {
        margin: 30px;
        overflow: hidden;
        width: 90%;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .two-contain h3 {
        font-size: 36px;
        margin: 30px;
    }

    .option {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        width: 100%;
    }

    .option p {
        width: 20px;
        height: 80px;
        width: 60%;
        background-color: #3002ff;
        color: #FFFFFF;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: #2500cb;
        }
    }

    #result {
        margin: 20px;
        height: 150px;
        width: 50%;
        font-weight: bold;
        text-align: center;
        align-content: center;
        font-size: 20px;
    }

    /* Task 3 */

    .thr-contain {
        margin: 30px;
        overflow: hidden;
        width: 90%;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #input-txt {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 10px;
        width: 90%;
        height: auto;
        font-size: 16px;
        text-align: center;
        align-content: center;
        padding: 10px;
    }

    .thr-contain p {
        width: 90%;
        height: 80px;
        background-color: green;
        color: #FFFFFF;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: #004400;
        }
    }

    .thr-contain span {
        margin: 10px;
        font-size: 16px;
        color: gray;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* Task 1 */

    .one-contain {
        margin: 20px;
        overflow: hidden;
        width: 95%;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .one-contain img {
        width: 90%;
        height: 300px;
        margin: 30px;
    }

    .item-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
        width: 90%;
    }

    .item {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .item p {
        width: 280px;
        height: 80px;
        background-color: crimson;
        color: #FFFFFF;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: rgb(174, 10, 43);
        }
    }

    .input-parent {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 20px;
        width: 280px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .input-parent input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 8px;
    }

    .input-parent span {
        margin-inline: 10px;
        font-weight: bold;
    }

    /* Task 2 */
    .two-contain {
        margin: 30px;
        overflow: hidden;
        width: 95%;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .two-contain h3 {
        font-size: 36px;
        margin: 30px;
    }

    .option {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        width: 100%;
    }

    .option p {
        width: 20px;
        height: 80px;
        width: 80%;
        background-color: #3002ff;
        color: #FFFFFF;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: #2500cb;
        }
    }

    #result {
        margin: 10px;
        height: 100px;
        width: 80%;
        font-weight: bold;
        text-align: center;
        align-content: center;
        font-size: 18px;
    }

    /* Task 3 */

    .thr-contain {
        margin: 30px;
        overflow: hidden;
        width: 95%;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #input-txt {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 10px;
        width: 90%;
        height: auto;
        font-size: 16px;
        text-align: center;
        align-content: center;
        padding: 10px;
    }

    .thr-contain p {
        width: 90%;
        height: 80px;
        background-color: green;
        color: #FFFFFF;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: #004400;
        }
    }

    .thr-contain span {
        margin: 10px;
        font-size: 16px;
        color: gray;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .main-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    /* Task 1 */

    .one-contain {
        margin: 0px;
        overflow: hidden;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .one-contain img {
        width: 95%;
        height: 300px;
        margin: 30px;
    }

    .item-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
        width: 95%;
    }

    .item {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .item p {
        width: 90%;
        height: 50px;
        background-color: crimson;
        color: #FFFFFF;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: rgb(174, 10, 43);
        }
    }

    .input-parent {
        border: 1px solid #000000;
        border-radius: 10px;
        margin-top: 20px;
        width: 90%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .input-parent input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 8px;
    }

    .input-parent span {
        margin-inline: 10px;
        font-weight: bold;
        font-size: 14px;
    }

    /* Task 2 */
    .two-contain {
        margin-top: 10px;
        overflow: hidden;
        width: 100%;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .two-contain h3 {
        font-size: 30px;
        margin: 15px;
    }

    .option {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        width: 100%;
    }

    .option p {
        height: 50px;
        width: 80%;
        background-color: #3002ff;
        color: #FFFFFF;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: #2500cb;
        }
    }

    #result {
        margin-bottom: 20px;
        height: 80px;
        width: 70%;
        font-weight: bold;
        text-align: center;
        align-content: center;
        font-size: 18px;
    }

    /* Task 3 */

    .thr-contain {
        margin-top: 10px;
        overflow: hidden;
        width: 100%;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #input-txt {
        border: 1px solid #000000;
        border-radius: 10px;
        margin-top: 20px;
        width: 90%;
        height: auto;
        font-size: 16px;
        text-align: center;
        align-content: center;
        padding: 10px;
    }

    .thr-contain p {
        width: 90%;
        height: 50px;
        background-color: green;
        color: #FFFFFF;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;


        &:hover {
            transition: 0.3s ease-in;
            background-color: #004400;
        }
    }

    .thr-contain span {
        margin: 10px;
        font-size: 16px;
        color: gray;
    }
}