* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    margin: 0 auto;
    font-family: sans-serif;
}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Task 1 */

.one-contain {
    margin: 30px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.one-contain img {
    width: 480px;
    height: 300px;
    margin: 30px;
}

.item-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
}

.item {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item p {
    width: 200px;
    height: 50px;
    background-color: crimson;
    color: #FFFFFF;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-out;


    &:hover {
        transition: 0.3s ease-in;
        background-color: rgb(174, 10, 43);
    }
}

.input-parent {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.input-parent input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 8px;
}

.input-parent span {
    margin-inline: 5px;
    font-weight: bold;
}

/* Task 2 */
.two-contain {
    margin: 30px;
    overflow: hidden;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.two-contain h3 {
    font-size: 36px;
    margin: 30px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.option p {
    width: 200px;
    height: 50px;
    background-color: #3002ff;
    color: #FFFFFF;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-out;


    &:hover {
        transition: 0.3s ease-in;
        background-color: #2500cb;
    }
}

#result {
    margin: 10px;
    height: 150px;
    width: 70%;
    font-weight: bold;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

/* Task 3 */

.thr-contain {
    margin: 30px;
    overflow: hidden;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input-txt {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: auto;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.thr-contain p {
    width: 200px;
    height: 50px;
    background-color: green;
    color: #FFFFFF;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-out;


    &:hover {
        transition: 0.3s ease-in;
        background-color: #004400;
    }
}

.thr-contain span {
    margin: 10px;
    font-size: 14px;
    color: gray;
}