* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    margin: 0 auto;
    font-family: sans-serif;
}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Task 1*/

.one-con {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
}

.one-con p {
    width: 60%;
    height: auto;
    border: 1px solid #000000;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.selection-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.btns-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.font-con {
    width: 350px;
    height: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.input-con {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    overflow: hidden;
}

.input-con input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
}

.input-con span {
    margin-inline: 10px;
}

.btns-con .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
        background-color: #a40f2d;
        transition: 0.3s ease-out;
    }
}

.two-con {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
}

.two-con h3 {
    margin: 20px;
    padding: 10px;
    font-size: 36px;
}

.two-con .btn-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-con .btn {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn-con .btn:nth-child(1) {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn-con .btn:nth-child(2) {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn-con .btn:nth-child(3) {
    background-color: #0000ff;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid gray;
}

/* Task 3 */

.thr-con {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
}

.thr-con form {
    margin: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.thr-con form p {
    margin: 10px;
    font-size: 14px;
    color: #000000;
}

.thr-con form label {
    border: 1px solid #000000;
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thr-con form label i {
    margin-inline: 10px;
}

.thr-con form label input {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
}

/* Task 4 */

.four-con {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
}

.four-con form {
    margin: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.four-con form p {
    margin: 10px;
    font-size: 14px;
    color: #000000;
}

.four-con form label {
    border: 1px solid #000000;
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-con form label i {
    margin-inline: 10px;
}

.four-con form label input {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
}

.pre-box {
    width: 70%;
    height: 100px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000000;
}

.pre-box h3 {
    font-size: 26px;
    margin: 10px;
}

.pre-box p {
    color: #545454;
}

/* Task 5 */

.five-con {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
}

.five-con form {
    margin: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.five-con form .input-item {
    border: 1px solid #000000;
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-con form .input-item i {
    margin-inline: 10px;
}

.five-con form .input-item input {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
}

.err-box {
    width: 70%;
    display: flex;
    text-align: left;
    margin: 10px;
}

.err-box #error-msg {
    font-size: 16px;
    color: #ff0000;
    display: inline-block;
    font-weight: bold;
}

#submit-btn {
    width: 70%;
    height: 50px;
    background-color: #037c03;
    color: #FFFFFF;
    padding: 10px;
    outline: none;
    border: none;
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        transition: 0.3s ease-in;
        background-color: #085608;
    }
}