* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    margin: 0 auto;
    font-family: sans-serif;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 1px gray solid; */
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

i {
    margin-inline: 5px;
    font-size: 16px;
}

button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

button:nth-child(2) {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
}

button:nth-child(3) {
    background-image: linear-gradient(to right, #667eea, #764ba2);
}

button:nth-child(4) {
    background-image: linear-gradient(to right, #30cfd0, #330867);

}

button:nth-child(5) {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);

}


button:hover {
    /* change the direction of the change here */
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}